<%- include("templates/header") %>

<h1
class="text-center"
style="
  background-color: #00ced1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #ffffff;
"
>
Settings
</h1>

<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <i id="back" class="material-icons md-36"><a href="/settings">arrow_back</a></i>
          <div class="text-center mb-4"> <!-- Add container for center alignment -->
            <h4>Forgot Password?</h4>
          </div>

        <form action="" method="POST">
            <div class="form-group text-center">
                <label for="email">Email: &nbsp</label>
                <input type="email" name="email" id="email" placeholder="Enter Email: "/>
            </div>

        <br>
        <div class="d-flex justify-content-center"> <!-- Add this container for center alignment -->
        <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        </form>
        </div>
        </div>
    </div>
<%- include("templates/footer") %>

