<%- include("templates/header") %> 


<style>

  .hr-container {
  width: 50%; /* Adjust the width as per your preference */
  margin: 0 auto; /* Centers the container horizontally */
}

.custom-hr {
  border: none;
  border-top: 1px solid #00CED1; /* Customize the HR appearance */
}



</style>

<h1
class="text-center"
style="
  background-color: #00ced1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #ffffff;
"
>
Settings
</h1>

<div class="hr-container">
  <i id="back" class="material-icons md-36"><a href="/personal">arrow_back</a></i>
  <br><br><br><br><br><br>

  <hr class="custom-hr">
</div>
<br>


  
  <div class="d-flex column justify-content-center ">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
  <h8><a href="/forgotPassword"><b>Changing Your Password</b></a> </h8>
  </div>


  <br>
  <div class="hr-container">
    <hr class="custom-hr">
  </div>
  <br>

  <div class="d-flex column justify-content-center ">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-balloon" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 9.984C10.403 9.506 12 7.48 12 5a4 4 0 0 0-8 0c0 2.48 1.597 4.506 4 4.984ZM13 5c0 2.837-1.789 5.227-4.52 5.901l.244.487a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.244-.487C4.789 10.227 3 7.837 3 5a5 5 0 0 1 10 0Zm-6.938-.495a2.003 2.003 0 0 1 1.443-1.443C7.773 2.994 8 2.776 8 2.5c0-.276-.226-.504-.498-.459a3.003 3.003 0 0 0-2.46 2.461c-.046.272.182.498.458.498s.494-.227.562-.495Z"/>
    </svg>
    <h8><b><a href="/DOB">Changing Your Date of Birth</a></b> </h8> 
    </div>


  <br>
  <div class="hr-container">
    <hr class="custom-hr">
  </div>
  <br>

  <div class="d-flex column justify-content-center ">
    <form method="POST" action="/logout">
    <button type="submit"><b>Log out</b></button>
  </form>
  </div>

  


<%- include("templates/footer") %> 


