<style>
    body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    margin-top: 400px;
    display: flex;
    height: 1200px;
    width: 2000px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    font-size: 50px;
    left: 230px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: 50px;
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
  
  h1  {
    text-align: center;
    margin-top: 150px;
    color : white;
  }

  img {
    height: 500px;
    width: 500px;
  }

  .nav {
        color : rgb(0, 0, 0);
        text-align: center;
        margin-top: 40px;
        font-size: 100px;
    }

    .nav2 {
        color : rgb(0, 0, 0);
        text-align: left;
        margin-top: 70px;
        font-size: 25px;
    }


  </style>
  
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"/>
  </head>

  <body>

  <div class="container">
    <div class="card">
      <h3 class="title">Step 1</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      
      <div class="circle">

        <h1>Collect</h1><img src="/step1.jpg" class="img-fluid" >
        <div class="nav clearfix">
            <a href="/step2" class="next pull-right">>>></a>
            </div>
            <div class="nav2 clearfix">
                <a href="/easter" >Back to Recipe</a>
                </div>

      </div>

      
    </div>
  
  </div>
  </body>